<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Give Block Chain</title>
</head>
<body>
    <% 	
		var greeting = "Give Block Chain에 오신걸 환영합니다.";
		var tagline = "Welcome to Give Block Chain!";
		
		let day = new Date();
		let am_pm;
		let hour = day.getHours();
		let minute = day.getMinutes();
		let second = day.getSeconds();
		if (hour / 12 == 0) {
			am_pm = "AM";
		} else {
			am_pm = "PM";
			hour = hour - 12;
		}
		var CT = hour + ":" + minute + ":" + second + " " + am_pm;
	%>

	<nav class="navbar navbar-expand  navbar-dark bg-dark">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Home</a>
			</div>
			<div>
				<ul class="navbar-nav mr-auto">
						<% if(session){ %>
							<li style="padding-top: 7px; color: white">[<%= session %>님]</li>
							<li class="nav-item"><a class="nav-link" href="/logout">로그아웃 </a></li>
							<li class="nav-item"><a class="nav-link" href="/mypage">마이페이지</a></li>
						<% }else { %>
							<li class="nav-item"><a class="nav-link" href="/login">로그인 </a></li>
							<li class="nav-item"><a class="nav-link" href='/addmember'>회원 가입</a></li>
						<% } %>
					<li class="nav-item"><a class="nav-link" href="/view">기부 목록</a></li>
					<li class="nav-item"><a class="nav-link" href="/block-explorer">기부내역</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-5">
                <%= greeting %>
			</h1>
		</div>
	</div>	
	<div class="container">
		<div class="text-center">
			<h3>
				<%= tagline %>
			</h3>
			<br>
			<% if(session){%> <a class="btn - btn-danger" href="/register-and-broadcast-node">블록체인 접속</a><%}%>
			<br>
			<br>
			<p>현재 접속 시각 : <%= CT %>
		</div>
		<hr>
	</div>
	<%- include('footer') %>
</body>
</html>